<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<body>
<form action="#" th:action="@{/new}" th:object="${jokeForm}" method="post">
    <table>
        <tr>
            <td>Content:</td>
            <td>
                <input type="text" th:field="*{content}" />
            </td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{categoryId}">
                    <option value="0">-----</option>
                    <option th:each="category : ${jokeCategories}" th:value="${category.id}" th:text="${category.name}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">CategoryId Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>

</html>